importFrom("graphics", "abline", "axis", "hist", "legend", "lines", "mtext", "par", "plot", "points")
importFrom("grDevices", "dev.off", "postscript", "ps.options")
importFrom("stats", "pnorm", "rbinom", "rgamma", "rnorm", "sd")
importFrom("utils", "write.csv")

exportPattern("^[[:alpha:]]+")
